@import url("https://static.toughlife.info/jf-openhuninn-1.0/font.css");

* {
  font-family: "jf-openhuninn-1.0", sans-serif;
}

#langselector::after{
  display: none
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  white-space: pre-line;
}

.site-content {
  flex-grow: 1;
}

footer {
  height: 8vh;
  text-align: center;
  padding: 21px 0 34px;
}

.navitem-active {
  
}